.header {
    padding: 10px 16px;
    background: #212121;
    color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    cursor: pointer;
}

.logo {
    height: 50px;
    pointer-events: none;
}

.cart {
    height: 24px;
    cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 20s linear;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rightContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartDetails {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 400px;
    right: 16px;
    top: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-height: 150px;
    padding: 16px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.leftContent:hover .cartDetails {
    display: block;
}

.cartItem {
    display: flex;
    z-index: 4;
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.cartItem .textTitle {
    flex: 1;
}

.cartItem .textPrice {
    width: 100px;
    text-align: right;
}

.cartDetailsContent {
    color: black;
    padding-bottom: 16px;
}

.totalPrice {
    text-align: right;
}
